.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 10);
    width: 95%;
    height: 80px;
    border-radius: 40px; 
    background-color: var(--second-color);  
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.navbar-logo{
    color: var(--fourth-color);
    font-size: 2rem;    
    cursor: pointer;
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-links{
    text-decoration: none;
    color: var(--fifth-color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.2rem 1rem;
    white-space: nowrap;
}

.nav-links:hover{
    color: var(--fourth-color);
}

.nav-links i{
    padding-right: 10px;
    color: var(--fourth-color);
}


.nav-links-mobile {
    display: none;
}

button{
    padding: 0.5rem 1rem;
    white-space: nowrap;
    border-radius: 0.5rem;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: var(--fifth-color);
    color: var(--first-color)
}

button:hover{
    background-color: var(--fourth-color) ;
    color: var(--first-color);
}

.menu-icons{
    display: none;
    color: var(--third-color);
}


@media screen and (max-width: 850px){
    .NavbarItems{
        z-index: 99;
        top:15px;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: var(--second-color);
        width: 100%;
        height: auto;
        position: absolute;
        top:0;
        left: -100%;
        opacity: 0;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0; 
        z-index: -1;
        transition: 0.3s ease-in-out;
        border-radius: 40px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 10);
    }
    .nav-menu.active{
        left: 0;
        opacity: 1;
        z-index: -1;
        transition: 0.3s ease-in-out;
    }
    .nav-links{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem 0;
    }
    .nav-links:hover{
        transition: none;
        color: var(--fifth-color);
    }
    button{
        display: none;
    }
    .nav-links-mobile{
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 35px;
        width: 50%;
        background: var(--fourth-color);
        text-decoration: none;
        color: var(--first-color);
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .menu-icons{
        color: var(--primary);
        display: block;
        cursor: pointer;
    }

    .menu-icons i{
        font-size: 1.5rem;
        color: var(--fourth-color);
    }
}